@font-face {
  font-family: NotoRegular;
  src: url("../fonts/NotoSans-Regular.ttf");
}

body {
  font-family: "NotoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: $text-color;
  overflow-x: hidden;

}