@font-face {
  font-family: NotoRegular;
  src: url("../fonts/NotoSans-Regular.ttf");
}

:focus {
  outline: none;
}

::selection {
  background-color: #843180;;
  color: white;
}

html {
  font-family: NotoRegular, arial, serif;
  height: 100%;

}

body {
  height: 100%;
  background: $background-color;
}

.container {
  margin: 0 45px;
  height: calc(100% - 55px);
}

a {
  text-decoration: none;
  color: black;
}


/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}