.common-button {
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 8px;
  min-width: 120px;
  color: whitesmoke;
  cursor: pointer;
  &__border-right {
    border-radius: 0 2px 2px 0;
  }
  &__border-left {
    border-radius: 2px 0 0 2px;
  }
  &__submit {
    background: #337ab7;

  }
  &:hover {
    box-shadow: 0 0 1px 0 black;
  }
}

.common-input {
  input {
    border-color: rgba(0, 0, 0, 0.12);
  }
  &__text {
    &--long {
      width: 380px;
    }
  }

}

ul.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  li {
    background: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid;
    padding: 4px;
    &.disabled{
      color: white !important;
    }
    &.active {
      font-weight: 600;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
  }
}

div#confirmation-window {
  position: fixed;
  width: 400px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0 8px;
  top: calc(50% - 72px);
  left: calc(50% - 200px);
  z-index: 40;
  .confirmation-window__body {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;  }
  .confirmation-window__buttons {
    display: flex;
    align-self: center;
  }
  .common-button{
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
}