.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  .tile{
    &__image{
      height: 300px;
      width: 225px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
    }
    &__file{
      height: 100%;
      width: 100%;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }
    &__title{
      min-height: 40px;
      border-right: 1px solid;
      border-left: 1px solid;
      margin: 0 10px;
      width: 225px;
      text-align: center;
    }
    &__actions{
      min-height: 10px;
      border: 1px solid;
      margin: 0 10px;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 8px;
      &--button{
        text-align: center;
        cursor: pointer;
        transition: all 1ms ease;
        box-sizing: border-box;
        position: relative;
      }
    }
  }

}