.icon {
  &.svg {
    width: 10px;
    height: 10px;
    position: absolute;
    &.multiply {
      background-image: url("/media/icons/svg/multiply.svg");
    }
    &.add {
      background-image: url("/media/icons/svg/add-2.svg");
    }
    &.edit {
      background-image: url("/media/icons/svg/edit.svg");
    }
    &.next {
      background-image: url("/media/icons/svg/next.svg");
    }
    &.prev {
      background-image: url("/media/icons/svg/next.svg");
      transform: rotate(180deg);
    }
    &.relative {
      position: relative;
    }
  }
}