.main-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .tile-grid-item {
    width: 250px;
    border: 1px solid;
    cursor: pointer;
    margin: 40px 20px;
    border-radius: 8px;
    overflow: hidden;
    &__tile {
      min-height: 120px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__photo {
      height: 100%;
      width: 100%;
      position: absolute;
      background-position: center;
      background-size: 100%;
      filter: brightness(0.6);
      z-index: 1;
      transition: all 0.5s ease;
      top: 0;
      left: 0;
    }
    &__info {
      position: relative;
      z-index: 2;
      color: white;
      font-weight: 500;
      font-size: 20px;
    }
    &:hover {
      .tile-grid-item__photo {
        filter: brightness(0.45);
        background-size: 105%;
      }
    }
  }
  &__tile-block {
    display: flex;
  }
}