.module_contacts {
  .tile-grid-item-user-photo {
    width: 120px;
    height: 100px;
    background-size: contain;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .tile-grid-item-info {
    padding: 10px;
    background: #dadada;
    height: 72px;
  }

  .tile-actions {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  .tile-grid-item-tile {
    cursor: pointer;
  }

  .user_avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-position: center;
  }

  .edit_contact_container {
    display: flex;
    margin: 20px;
    border: 2px solid;
    padding: 20px;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0 0 8px 0;
    position: relative;
  }

  .edit_contact_save {
    position: absolute;
    bottom: -30px;
    left: 50%;
    padding: 0 10px;
  }

  .delete_button {
    right: -16px;
    bottom: 8px;
    cursor: pointer;
  }

  .contact_user_avatar {
    border: 2px solid;
    box-sizing: border-box;
    background-color: #797979;
  }

  .add-new-contact {
    cursor: pointer;
    .tile-grid-item-tile {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon {
      width: 100px;
      height: 100px;
      position: relative;
    }
  }

  .create_new_contact {
    .dialog-container-body {
      width: 1000px;
    }

    .dialog-container-actions {
      .common-button {
        margin: 0 20px;
      }

    }
  }
}