.file {
  &__file-container {
    height: 200px;
    width: 150px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  &__file {
    height: 100%;
    width: 100%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  &__main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
  }
  &__file-info {
    min-height: 50px;
    border: 1px solid;
    margin: 0 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.file-info__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 35px;
}

.file-info__container-block {
  width: calc(100% - 100px);
  height: calc(100% - 135px);
  background: aliceblue;
  padding: 20px;
  margin: 30px;
  border: 2px solid;
  border-radius: 6px;
  overflow: auto;
  .container-block {
    &__header {
      display: flex;
      justify-content: flex-end;
    }
    &__close {
      cursor: pointer;
    }
  }
  .file-info-form {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    &__file-container {
      width: calc(100% - 300px);
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
    }
    &__file {
      height: 100%;
      width: 100%;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }
    &__form{
      padding: 0 25px;
    }
    .common-input__container-main-info {
      display: flex;
    }
    .common-input__container-main-submit {
      text-align: center;
    }
  }
  .container-block__prev-file {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
    left: 60px;
  }

  .container-block__next-file {
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
    right: 60px;
  }

  #info-form {
    height: 100%;
  }
}