.user-page-container {
  display: flex;
  &__ava-container {
    height: 350px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  &__ava {
    height: 100%;
    width: 100%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  &__ava-upload-buttons {
    display: flex;
    justify-content: center;
  }
  &__ava-upload {
    .help-block {
      display: none;
    }
  }
}