.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 35px;
  box-shadow: 0 1px 6px 0 black;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  span {
    margin-left: 20px;
  }
  form {
    margin-right: 20px;
  }
}

ul.breadcrumb {
  position: fixed;
  background: #5a7caf;
  width: 100%;
  top: 22px;
  left: 0;
  display: flex;
  list-style-type: none;
  padding: 5px 20px;
  box-shadow: 0 1px 2px black;
  height: 20px;
  li {
    background: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    padding: 0 4px;
    margin-right: 3px;
  }
}