.login-page{
  background: $submit-color;
}

.login-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  form#login-form {
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 4px #171717;
    background: $background-block;
    width: 50%;
  }

  &__input{
    width: 50%;
    input{
      width: calc(100% - 4px);
    }
  }

}