.mvvSelectObject {
  min-width: 70px;
  height: 20px;
  /*overflow: hidden;*/
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
}

ul.mvvUlSelect {
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.2s ease;
  overflow: hidden;
  box-shadow: black 0px 0px 3px 0px;
}

li.mvvLiSelectElement {
  height: 20px;
  width: 100%;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}

.mvvUlDiv {
  box-shadow: black 0px 0px 3px 0px;
  height: 20px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.mvvUlDiv:hover {
  box-shadow: black 0px 0px 3px 2px;
}

li.mvvLiSelectElement:hover {
  text-decoration: underline;
}

.mvvUlDiv:after {
  content: '\02c5';
  right: 3px;
  /* top: 4px; */
  position: absolute;
  font-size: 20px;
  /*line-height: 33px;*/
}

li.mvvLiSelectElement.checked:after {
  content: '\2713';
  position: absolute;
}

.mvvNotify {
  display: none;
  position: fixed;
  width: 300px;
  min-height: 30px;
  top: 0;
  right: 0;
  z-index: 5000;
  border-radius: 4px 0 0 4px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.73);
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  border: 2px solid;
  &.success{
    background: rgba(0, 128, 0, 0.84);
    color: black !important;
  }
}

.mvv-clock {
  border: 2px solid;
  font-size: 20px;
  border-radius: 4px;
  padding: 2px;
  /*position: absolute;*/
}

.mvvFileInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .mvvFileInputButton {
    background: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid;
    border-radius: 2px 0 0 2px;
    padding: 4px;
    &:hover {
      box-shadow: 0 0 1px 0px black;
    }
  }
  .mvvFileInputLabel {
    border: 1px solid;
    line-height: 26px;
    padding: 0 10px;
    //border-radius: 0 2px 2px 0;
    overflow: hidden;
    text-overflow: clip;
    height: 26px;
    max-width: 180px;
  }
}


.mvvHoverInfoContainer {
  border: 1px solid;
  padding: 3px 8px;
  border-radius: 5px;
  background: aliceblue;
  position: fixed;
  display: none;
  z-index: 20;
}