body {
  width: 21cm;
  height: 29.7cm;
  margin: 0;
  padding: 1cm;
  line-height: 7px; }

.insect-labels {
  display: flex;
  flex-wrap: wrap; }

.geo-labels, .identify-labels {
  display: flex;
  flex-wrap: wrap; }

.geo-label, .identify-label {
  text-align: center;
  padding: 0.08cm;
  width: 3cm;
  height: 0.9cm;
  overflow: hidden;
  font-size: 6px;
  display: flex;
  flex-direction: column;
  border: 0.03cm solid;
  margin-right: 1px;
  margin-bottom: 1px; }
  .geo-label .header, .identify-label .header {
    display: flex;
    flex-direction: column;
    border-bottom: 0.01cm solid;
    padding-bottom: 0.04cm; }
  .geo-label .footer, .identify-label .footer {
    display: flex;
    flex-direction: row;
    padding-top: 0.02cm; }
    .geo-label .footer .date-column, .geo-label .footer .user-column, .identify-label .footer .date-column, .identify-label .footer .user-column {
      display: flex;
      flex-direction: column; }

.geo-label .footer > div {
  width: 50%; }
.geo-label .leg-name, .geo-label .catch-date, .geo-label .first-line {
  font-weight: bold; }

.identify-label .header {
  font-size: 7px;
  line-height: 5px;
  font-weight: bold;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center; }
.identify-label .identify-date, .identify-label .user-column {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center; }
.identify-label .gender {
  width: 10%;
  border-left: 0.01cm solid;
  border-right: 0.01cm solid;
  display: flex;
  justify-content: center;
  align-items: center; }
.identify-label .leg-name, .identify-label .catch-date, .identify-label .first-line {
  font-weight: bold; }

/*# sourceMappingURL=labels.css.map */
