/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/
// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "dev/theme/variables";
@import "dev/theme/mixins";

// INSPINIA Theme Elements
@import "dev/theme/typography";
@import "dev/theme/navigation";
@import "dev/theme/top_navigation";
@import "dev/theme/buttons";
@import "dev/theme/badges_labels";
@import "dev/theme/elements";
@import "dev/theme/sidebar";
@import "dev/theme/base";
@import "dev/theme/pages";
@import "dev/theme/chat";
@import "dev/theme/metismenu";
@import "dev/theme/spinners";

// Landing page styles
@import "dev/theme/landing";

// RTL Support
@import "dev/theme/rtl";

// For demo only - config box style
@import "dev/theme/theme-config";

// INSPINIA Skins
@import "dev/theme/skins";
@import "dev/theme/md-skin";

// Media query style
@import "dev/theme/media";

// Custom style
// Your custom style to override base style
@import "dev/theme/custom" ;

@import "dev/app/app";


// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
