.files-edit-list, .files-full-list {
  display   : flex;
  flex-wrap : wrap;
  &__image {
    width      : 200px;
    height     : 100px;
    position   : relative;
    margin     : 5px;
    text-align : center;
    cursor     : pointer;
    img {
      height : 100%;
    }

    .actions {
      position        : absolute;
      top             : 0;
      text-align      : center;
      width           : 100%;
      height          : 100%;
      justify-content : center;
      align-items     : center;
      background      : rgba(0, 0, 0, 0.65);
      display         : none;
      flex-direction  : column;
      .title {
        color         : white;
        font-size     : 16px;
        margin-bottom : 10px;
      }
    }
    &:hover {
      .actions {
        display : flex;
      }
    }
  }
}

.files-full-list {
  .files-edit-list__image {
    width  : 350px;
    height : 250px;
  }
}
