$hiragana-color : #009688;
$katakana-color : #673AB7;
$box-shadow-color : #3F51B5;

#kanaLearnSection {
  .kana-learn-section {
    display   : flex;
    flex-wrap : wrap;
    .kana-learn-item {
      width         : 50px;
      height        : 60px;
      text-align    : center;
      box-shadow    : 0 0 1px $box-shadow-color;
      border-radius : 4px;
      margin        : 5px;
      background    : white;
      &__name {
        height          : 30px;
        color           : white;
        font-size       : 14px;
        display         : flex;
        align-items     : center;
        justify-content : center;
      }

      &__symbol {
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 30px;
        &.hide-symbol {
          visibility : hidden;
          cursor     : pointer;
          &.force-show {
            visibility : visible;
          }
        }
      }
      &[data-type="hiragana"] {
        .kana-learn-item__name {
          background : $hiragana-color;
        }
      }
      &[data-type="katakana"] {
        .kana-learn-item__name {
          background : $katakana-color;
        }
      }
    }
  }

  .info {
    display : flex;
    &-block {
      margin-right : 15px;
      display      : flex;
      align-items  : center;
      &__color {
        width         : 30px;
        height        : 30px;
        margin-right  : 5px;
        border-radius : 4px;
        box-shadow    : 0 0 3px $box-shadow-color;
        &.hiragana {
          background : $hiragana-color;
        }
        &.katakana {
          background : $katakana-color;
        }
      }
    }
  }
  .actions {
    display        : flex;
    flex-direction : column;
    margin-top     : 10px;
    &__block {
      display        : flex;
      margin-bottom  : 5px;
      border-bottom  : 2px solid $box-shadow-color;
      padding-bottom : 5px;
      .custom-control {
        min-width : 150px;
      }
    }
  }

}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform : scale(0.1, 0.1);
    opacity           : 0.0;
  }
  50% {
    opacity : 1.0;
  }
  100% {
    -webkit-transform : scale(1.2, 1.2);
    opacity           : 0.0;
  }
}

