@import "_tables";
@import "kana-learning";
@import "file_edit";
@import "insects-labels";
//
//.custom-control {
//  position   : relative;
//  min-height : 1.5rem;
//  margin     : 0;
//  display    : block;
//  height     : 20px;
//  padding    : 0;
//}
//
//.custom-control-input {
//  position : absolute;
//  z-index  : -1;
//  opacity  : 0;
//}
//
//.custom-control-input:checked ~ .custom-control-indicator {
//  width: 20px;
//  height: 20px;
//  border-radius: 0;
//  border: 2px solid #9e9e9e;
//  background-color: #fff;
//  color            : #fff;
//  background-color : #005aab;
//}
//
//.custom-control-indicator {
//  position            : absolute;
//  top                 : .25rem;
//  left                : 0;
//  display             : block;
//  width               : 1rem;
//  height              : 1rem;
//  background          : #ddd no-repeat 50%;
//  background-size     : 50% 50%;
//  top: 0;
//  position: absolute;
//  display: block;

//}

label.custom-control {
  display      : flex;
  margin       : 0;
  margin-right : 15px;
  cursor       : pointer;
  input {
    margin-right : 5px;
  }
}
